*{padding: 0;
    margin: 0;
    text-decoration: none;
}

body{
    font-size: 14pt;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.logo img{
    width: 200px;
    margin-top: 10px;
}

.menu{
    width: 300px;
    margin-left: 200px;
    margin-top: -50px;
    position: absolute;
    border: 2px solid gray;
    border-radius: 10px;
    text-align: center;
    list-style:none;
    border:1px solid #c0c0c0;
    float:left;
}

.menu li{
    position:relative;
    float:inline-start;
    border-right:1px solid #c0c0c0;
}

.menu li a{
    color:#333; 
    text-decoration:none; 
    padding:2px 8px;
}

.menu li a:hover{
    background:#333;
    color:#fff;
    -moz-box-shadow:0 2px 8px 0 #CCC;
    -webkit-box-shadow:0 2px 8px 0 #ccc;
    text-shadow:0px 0px 2px #fff;
}

.projetos{
    width: 150px;
    margin-top: -50px;
    margin-left: 550px;
    position: relative;
    float: left;
    border: 2px solid gray;
    border-radius: 10px;
    text-align: center;
}

.projetos:hover{
    background:#333;
    color:#fff;
    -moz-box-shadow:0 3px 10px 0 #CCC;
    -webkit-box-shadow:0 3px 10px 0 #ccc;
    text-shadow:0px 0px 5px #fff;
}

.login{
    text-align: center;
    width: 150px;
    margin-left: 750px;
    margin-top: -50px;
    position: relative;
    float: left;
    border: 2px solid gray;
    border-radius: 10px;
}

.login:hover{
    background:#333;
    color:#fff;
    -moz-box-shadow:0 3px 10px 0 #CCC;
    -webkit-box-shadow:0 3px 10px 0 #ccc;
    text-shadow:0px 0px 5px #fff;
}

.search{
    width: 400px;
    float: right;
    margin-top: -50px;
    position: relative;
}

.início{
    image-rendering: optimizeQuality;
    float: right;
    position: relative;
    margin: 100px 10px 10px 10px;
    vertical-align: text-top;
}
    

.sobre{
    position:relative;
    margin-bottom: 200px;
    margin-left: 10px;
    text-align: justify;
}

.contato{
    background-color: lightgray;
    margin-bottom: 600px;
}

.contato iframe{
    margin-left: 10px;
}

.footer{
    background-color: grey;
    text-align: center;
    padding: 10px;
}
