*{
    font-family: arial;
    list-style: none;
}

header {
    height: 250px;
}

.logo img {
    width: 280px;
    margin: 5px;
}

.menu {
    width: 79%;
    margin-left: 280px;
    margin-top: -70px;
}

.menu li a {
    border-radius: 5px;
    background-color: #ccc;
    color: #000;
    font-weight: bold;
}

.menu li a:hover {
    background-color: #ddd;
    width: 100%;
}

#nav ul li {
    display: inline;
}

#nav a {
    padding: 8px 40px;
    margin: 0 10px 0 0;
}

#nav a:hover{
    color: #fff;
}


/* DROPDOWN */

.wrapper-menu{
    position:relative;
}

.wrapper-dropdown ul li a {
    display: block;
    font-weight: normal;
}

.dropdown{
    position: absolute;
    display:none;
    margin-top: 6.5px;
}


.wrapper-dropdown:hover > .dropdown{
    z-index: 1;
    height: 272px;
    width: 50%;
    background-color: #ccc;
    display: block;
}


/*--------------------------------------------- search ---------------------------------------------  */

.header-search{
    margin-top: -8px;
    float: right;
    margin-right: 40px;
    width: 230px;
}

.header-search input::-webkit-input-placeholder {
    color: #000;
}
.header-search input:-moz-placeholder{
    color: #000;
    opacity: 1;
}
.header-search input::-moz-placeholder{
    color: #000;
    opacity: 1;
}
.header-search input:-ms-input-placeholder{
    color: #000;
}
.header-search input::-ms-input-placeholder{
    color: #000;
}
.header-search input::placeholder{
    color: #000;
}


.header-search input{
    border: 1px solid #ccc;
    outline: none;
    width: 100%;
    color: #000;
    text-transform: uppercase;
    background: #fff;
    padding: 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}

.header-search button{
    cursor: pointer;
    position: absolute;
    right: 18px;
    top: 60%;
    color: #ccc;
    font-size: 1.2rem;
    background: transparent;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.sobre{
    text-align: justify;
    padding: 55px 50px 100px 100px;
    
}

.sobre p{
    width: 500px;
    margin: 20px 0;
}

.sobre img {
    width: 480px;
    float: right;
    margin-top: -22.5%;
    margin-right: 90px;
}

.fundo{
    background-color: #ddd;
}

.a {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 70%;
    padding: 60px 0 40px 0;
}

.b p{
    width: 200px;
    height: 40px;
}

.projetos {
    text-align: center;
    width: 200px;
    height: 200px;
}

.projetos img {
    border: 3px solid #aaa;
    background-color: #bbb;
    padding: 33px;
}

.projetos img:hover{
    background-color: #ccc;
}

.mapa {
    text-align: center;
    width: 60%;
    padding: 30px 0 10px 0;
}

.icone {
    width: 40%;
    float: right;
    margin-top: -40%;
    padding: 80px 50px;
}

.icone li{
    margin: 50px 0;
}

.icone li a {
    font-size: 20px;
    color: #000;
}

.icone i {
    font-size: 30px;
    margin: 0 20px;
}

footer .fundo {
    height: 290px;
}

footer .c {
    text-align: center;
    width: 60%;
    padding: 115px 10px;
    font-weight: bold;
    color: #777;
}

footer img {
    width: 200px;
}

footer .d {
    text-align: center;
    padding: 40px 0;
    width: 40%;
    height: 270px;
    float: right;
    margin-top: -280px;
}

.c p {
    padding: 5px 0;
}

.info {
    display: flex;
    background-color: #ccc;
    width: 70%;
    margin: 0 auto;
    padding: 40px;
}

.enviar {
    background-color: #aaa;
    width: 10%;
    padding: 15px;
    float: right;
    margin: -65px 250px 0 0;
    cursor: pointer;
    font-weight: bold;
}

.enviar:hover{
    background-color: #bbb;
}

.botoes {
    width: 20%;
    padding: 5px;
}

.botoes select {
    background-color: #aaa;
    display: block;
    padding: 10px;
    font-size: 15px;
    margin: 30px 0;
    width: 100%;
    border: none;
    outline: none;
}

.infos {
    width: 80%;
    padding: 30px 30px 0 30px;
    text-align: justify;
}

.infos p {
    margin: 20px 0;
}

.teste {
    background-color: #eee;
    margin-top: 100px;
    height: 600px;
}
