* {
  font-family: arial;
  list-style: none;
  text-decoration: none;
}

/*--------------------------------------HEADER-------------------------------------- */

header {
  height: 250px;
}

.logo img {
  width: 280px;
  margin: 5px;
}

.menu {
  width: 79%;
  margin-left: 280px;
  margin-top: -70px;
}

.menu a {
  border-radius: 5px 5px 0 0;
  background-color: #ccc;
  color: #000;
  font-weight: bold;
}

.menu a:hover {
  background-color: #ddd;
  width: 100%;
}

#nav ul li {
  display: inline;
}

#nav a {
  padding: 8px 40px;
  margin: 0 10px 0 0;
}

#nav a:hover {
  color: #fff;
}

/*--------------------------------------DROPDOWN-------------------------------------- */

.wrapperMenu {
  position: relative;
}

.wrapperDropdown ul li a {
  display: block;
  font-weight: normal;
}

.dropdown {
  position: absolute;
  display: none;
  margin-top: 6.5px;
}

.wrapperDropdown:hover > .dropdown {
  z-index: 1;
  height: 272px;
  width: 50%;
  background-color: #ccc;
  display: block;
}

/*--------------------------------------INFORMAÇÕES DA FATEC - HOME-------------------------------------- */

.fatecAbout {
  text-align: justify;
  padding: 55px 50px 100px 100px;
}

.fatecAbout p {
  width: 500px;
  margin: 20px 0;
}

.fatecAbout img {
  width: 480px;
  float: right;
  margin-top: -22.5%;
  margin-right: 90px;
}

/*--------------------------------------LISTA DE CURSOS -------------------------------------- */

.containerCourses {
  background-color: #ddd;
}

.rowCourses {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 70%;
  padding: 60px 0 40px 0;
}

.courses p {
  width: 200px;
  height: 40px;
}

.projects {
  text-align: center;
  width: 200px;
  height: 200px;
}

.projects img {
  border: 3px solid #aaa;
  background-color: #bbb;
  padding: 33px;
}

.projects img:hover {
  background-color: #ccc;
}

/*--------------------------------------INFORMAÇÕES ADICIONAIS - CONTATO-------------------------------------- */

.maps {
  text-align: center;
  width: 60%;
  padding: 30px 0 10px 0;
}

.infosIcons {
  width: 40%;
  float: right;
  margin-top: -40%;
  padding: 80px 50px;
}

.infosIcons li {
  margin: 50px 0;
}

.infosIcons li a {
  font-size: 20px;
  color: #000;
}

.infosIcons i {
  font-size: 30px;
  margin: 0 20px;
}

/*--------------------------------------FOOTER-------------------------------------- */

footer .containerCourses {
  height: 290px;
}

footer .footer {
  text-align: center;
  width: 60%;
  padding: 115px 10px;
  font-weight: bold;
  color: #777;
}

footer img {
  width: 200px;
}

footer .fatecIcon {
  text-align: center;
  padding: 40px 0;
  width: 40%;
  height: 270px;
  float: right;
  margin-top: -280px;
}

.footer p {
  padding: 5px 0;
}

/*--------------------------------------ESTILO DAS PAGINAS DE CURSOS-------------------------------------- */

/*--------------------------------------INFORMAÇÕES DE CADA CURSO-------------------------------------- */

.containerCoursesInfos {
  display: flex;
  background-color: #ccc;
  width: 70%;
  margin: 0 auto;
  padding: 40px;
}

.selectsButtons {
  width: 20%;
  padding: 5px;
}

.selectsButtons select {
  background-color: #aaa;
  display: block;
  padding: 10px;
  font-size: 15px;
  margin: 30px 0;
  width: 100%;
  border: none;
  outline: none;
}

.coursesInfos {
  width: 80%;
  padding: 30px 30px 0 30px;
  text-align: justify;
}

.coursesInfos p {
  margin: 20px 0;
}

/*--------------------------------------FUNDO DA TABELA-------------------------------------- */

.containerTable {
  background-color: #eee;
  text-align: center;
  padding: 50px;

  margin-top: 70px;
}

/*-----------------------------------------TABELA---------------------------------------- */

.containerTable table {
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto;
}

.containerTable thead {
  background-color: #1a1b26;
  color: #faebeb;
}

.containerTable table th {
  text-align: center;
}

.containerTable table td {
  text-align: left;
}

.containerTable table tbody:nth-child(even) {
  background-color: rgba(26, 27, 38, 0.2);
}

.containerTable table tbody:hover {
  background-color: #ddd;
}

.containerTable table td,
.containerTable table th {
  border: 1px solid #1a1b26;
  padding: 5px;
}

.containerTable a:hover {
  color: #9147ff;
  font-weight: normal;
}
