* {
  font-family: arial;
  list-style: none;
  text-decoration: none;
}

/*--------------------------------------VOLTAR AO TOPO-------------------------------------- */

.back-to-top {
  background: #777;
  color: white;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  padding: 1rem;
  clip-path: margin-box;
  font-size: 1rem;
  line-height: 0;

  visibility: hidden;
  opacity: 0;

  transition: 0.3s;
  transform: translateY(100%);
}

.back-to-top.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.back-to-top.show:hover {
  color: #bbb;
}

/*--------------------------------------HEADER-------------------------------------- */

.headerHome {
  background-color: #eee;
  height: 170px;
}

.headerCourses {
  height: 200px;
}

.logo img {
  width: 280px;
  margin: 5px;
}

.menu {
  width: 79%;
  margin-left: 280px;
  margin-top: -80px;
}

.menu a {
  padding: 10px 20px;
  color: #fff;
  font-weight: bold;
}

.menuCourses {
  width: 79%;
  margin-left: 280px;
  margin-top: -70px;
}

.dropdown-menu {
  background-color: #ccc;
}

.btn-secondary {
  margin: 0;
  padding: 7px 5px;
}

/*--------------------------------------INFORMAÇÕES DA FATEC - HOME-------------------------------------- */
.grid {
  display: grid;
}

.grid-template-columns {
  grid-template-columns: 50% 50%;
}

.fatecAbout {
  text-align: justify;
  padding: 30px 30px 90px 100px;
}

.fatecAbout p {
  width: 500px;
  margin: 20px 0;
}

.fatecAbout img {
  width: 480px;
  margin-right: 90px;
}

/*--------------------------------------LISTA DE CURSOS -------------------------------------- */

.containerCourses {
  background-color: #dfdfdf;
}

.rowCourses {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 70%;
  padding: 20px 0 40px 0;
}

.courses p {
  width: 200px;
  height: 40px;
}

.projects {
  text-align: center;
  width: 200px;
  height: 200px;
}

.projects img {
  border: 3px solid #aaa;
  background-color: #bbb;
  padding: 33px;
}

.projects img:hover {
  background-color: #ccc;
}

/*--------------------------------------INFORMAÇÕES ADICIONAIS - CONTATO-------------------------------------- */

.grid-template-columns-1 {
  grid-template-columns: 60% 40%;
}

.maps {
  text-align: center;
  width: 60%;
  padding: 30px 0 10px 0;
}

.infosIcons {
  padding: 80px 0;
}

.infosIcons li {
  margin: 50px 0;
}

.infosIcons li a {
  font-size: 20px;
  color: #000;
}

.infosIcons i {
  font-size: 30px;
  margin: 0 20px;
}

/*--------------------------------------FOOTER-------------------------------------- */

.containerFooter .footer {
  text-align: center;
  width: 60%;
  padding: 70px 10px;
  font-weight: bold;
  color: #777;
}

.containerFooter img {
  width: 200px;
}

.containerFooter .fatecIcon {
  text-align: center;
  padding: 40px 0;
  width: 40%;
  height: 270px;
  float: right;
  margin-top: -270px;
}

.footer p {
  padding: 5px 0;
}

/*--------------------------------------ESTILO DAS PAGINAS DE CURSOS-------------------------------------- */

/*--------------------------------------INFORMAÇÕES DE CADA CURSO-------------------------------------- */

.containerCoursesInfos {
  display: flex;
  background-color: #ccc;
  width: 70%;
  margin: 0 auto;
  padding: 40px;
}

.selectsButtons {
  width: 20%;
  padding: 5px;
}

.selectsButtons select {
  background-color: #aaa;
  display: block;
  padding: 10px;
  font-size: 15px;
  margin: 30px 0;
  width: 100%;
  border: none;
  outline: none;
}

.coursesInfos {
  width: 100%;
  padding: 30px 30px 0 30px;
  text-align: justify;
}

p.coursesInfos {
  margin: 20px 0;
}

/*--------------------------------------FUNDO DA TABELA-------------------------------------- */

.containerTable {
  background-color: #eee;
  text-align: center;
  padding: 50px;
  margin-top: 70px;
}

small {
  float: left;
  padding-bottom: 10px;
}

/*-----------------------------------------TABELA---------------------------------------- */

table.tablesorter {
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto;
  text-align: left;
}

table.tablesorter thead tr th,
table.tablesorter tfoot tr th {
  color: #111;
  background-color: #aaa;
  border: 1px solid #fff;
  font-size: 10pt;
  padding: 5px;
}
table.tablesorter thead tr .header {
  background-image: url(../images/bg.gif);
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}
table.tablesorter tbody td {
  border: 1px solid #fff;
  color: #000;
  padding: 4px;
}

table.tablesorter tbody a {
  color: #000;
}

table.tablesorter tbody a:hover {
  color: #777;
}

table.tablesorter tbody tr:nth-child(even) {
  background-color: rgba(63, 63, 65, 0.2);
}

table.tablesorter tbody tr.odd td {
  background-color: #f0f0f6;
}
table.tablesorter thead tr .headerSortUp {
  background-image: url(../images/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
  background-image: url(../images/desc.gif);
}
